/*prueba githuubb*/
table{
      width: 40%;
      height: 200px;
      
      
}
table,th,td{
    border :1px solid ; 
    background-color: red;
    height: 100px;
    
    
    
}
th{
    background-color: blue;
    
}
td{
    border: none;
   display: inline;
    
}
#resultado{
    width: 85%;
    height: 50px;
    font-size: 30px;
}
#btn{
    width: 9%;
    height: 40px;
    font-size: 35px;
     border-radius: 80px;
}
#btn2{
   width: 97%; 
  
}
#btn3{
     width: 9%;
    height: 40px;
   font-size: 20px;
   border-radius: 10px;
}
#bck{
    width: 12%;
    height: 40px;
    font-size: 11px;
}
#lb{
    color: white;
    font-weight: bold;
}
#bck:hover{
        border-color: white;
       box-shadow: 5px 10px blue inset;
       background-color: red;
       width: 14%;
   font-size:14px;
   color:white;
}
#btn:hover{
       box-shadow:0 0 20px blue inset ;
     border-color:white;
   background-color:red;
   width: 14%;
   font-size:30px;
   color:white;
}
#btn2:hover{
      box-shadow: 0 0 40px blue inset;
     border-color:white;
   background-color:red;
   width: 90%;
   font-size:30px;
   color:white;
}
#bck:active{
    background-color: white;
}
#btn:active{
    background-color:white;
}
#btn2:hover{
    background-color:red; 
}
#btn2:active{
    background-color: white;
}
#btn3:hover{
    background-color: blue;
    color: white;
}
#btn3:active{
    background-color:yellow; 
}


