
/* 
    Created on : 30/06/2020, 09:04:05 PM
    Author     : Luciifer
*/

/*prueba de gitt*/

/*diseño visual*/
table{
      width: 25%;
      height: 200px;   
}
table,th,td{
    border :1px solid ; 
    background-color: red;
    height: 100px;
}
th{
    background-color: blue;
}
td{
    border: 1px solid white;
    display: inline; 
}
#resultado{
    width: 85%;
    height: 50px;
    font-size: 30px;
}
#btn{
    width: 23.5%;
    height: 40px;
     border-radius: 10px;
}
#rd{
    color: white;
    font-weight: bold;
   
}

#btn:hover{
   background-color:blue;
   color:white;
   font-size: 35px;
}
#btn2:hover{
    background-color:blue; 
    color:white;
    font-size: 35px;
}
#btn:active{
    background-color:red;
}
#btn2:active{
    background-color: red;
}
#btn2{
   width: 97%;
   
}